
<swiper [config]="carouselConfig" id="carousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="columns is-gapless">
        <div class="column">
          <img class="ui fluid image" src="/assets/images/carousel/hombre.jpeg">
        </div>
        <div class="column">
          <div class="ui fluid center aligned container banner-text">
            <h1>HOMBRES</h1>
            <h2>Lorem ipsum dolor</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="columns is-gapless">
        <div class="column">
          <img class="ui fluid image" src="/assets/images/carousel/mujer.jpeg">
        </div>
        <div class="column">
          <div class="ui fluid center aligned container banner-text">
            <h1>MUJERES</h1>
            <h2>Lorem ipsum dolor</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="columns is-gapless">
        <div class="column">
          <img class="ui fluid image" src="/assets/images/carousel/nino.jpeg">
        </div>
        <div class="column">
          <div class="ui fluid center aligned container banner-text">
            <h1>NIÑOS</h1>
            <h2>Lorem ipsum dolor</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>


<br><br>
<div class="ui horizontal divider">
  <h1 class="ui header">
    Mas Vendidos
  </h1>
</div>

<div class="ui container">
  <div class="ui four cards">
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/5.jpg" class="visible content">
        <img src="assets/images/glasses/5-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui purple ribbon label"><i class="star icon"></i>Mas vendido</div>
        <br><br>
        <a class="header">Oakley Holbrook Metal Prism</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="no-deal">$220.00</span> 
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/6.jpg" class="visible content">
        <img src="assets/images/glasses/6-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui purple ribbon label"><i class="star icon"></i>Mas vendido</div>
        <br><br>
        <a class="header">Ray-Ban 49 ClubMaster</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="no-deal">$200.00</span>
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/7.jpg" class="visible content">
        <img src="assets/images/glasses/7-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui purple ribbon label"><i class="star icon"></i>Mas vendido</div>
        <br><br>
        <a class="header">Ray-Ban Original Aviator Mirror</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="no-deal">$200.00</span>
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/8.jpg" class="visible content">
        <img src="assets/images/glasses/8-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui purple ribbon label"><i class="star icon"></i>Mas vendido</div>
        <br><br>
        <a class="header">Dolce &amp; Gabbana 2075</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="no-deal">$200.00</span>
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<br><br>
<div class="ui horizontal divider">
  <h1 class="ui header">
    Ofertas
  </h1>
</div>

<div class="ui container">
  <div class="ui four cards">
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/1.jpg" class="visible content">
        <img src="assets/images/glasses/1-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui red ribbon label"><i class="percent icon"></i>Oferta</div>
        <br><br>
        <a class="header">Ray-Ban Blaze ClubMaster</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="cross">$195.00</span><span class="deal">$169.99</span> 
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/2.jpg" class="visible content">
        <img src="assets/images/glasses/2-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui red ribbon label"><i class="percent icon"></i>Oferta</div>
        <br><br>
        <a class="header">Ray-Ban 53 Round Metal</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="cross">$150.00</span><span class="deal">$129.99</span>
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/3.jpg" class="visible content">
        <img src="assets/images/glasses/3-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui red ribbon label"><i class="percent icon"></i>Oferta</div>
        <br><br>
        <a class="header">Ray-Ban 55 New Wayfarer</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="cross">$190.00</span><span class="deal">$159.99</span> 
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/4.jpg" class="visible content">
        <img src="assets/images/glasses/4-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui red ribbon label"><i class="percent icon"></i>Oferta</div>
        <br><br>
        <a class="header">Oakley Flak 2.0 XL</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="cross">$200.00</span><span class="deal">$189.99</span> 
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<br><br>
<div class="ui horizontal divider">
  <h1 class="ui header">
    Novedades
  </h1>
</div>

<div class="ui container">
  <div class="ui four cards">
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/1.jpg" class="visible content">
        <img src="assets/images/glasses/1-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui blue ribbon label"><i class="fire icon"></i>Nueva</div>
        <br><br>
        <a class="header">Ray-Ban Blaze ClubMaster</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="no-deal">$120.00</span> 
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/2.jpg" class="visible content">
        <img src="assets/images/glasses/2-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui blue ribbon label"><i class="fire icon"></i>Nueva</div>
        <br><br>
        <a class="header">Ray-Ban 53 Round Metal</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="no-deal">$150.00</span>
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/3.jpg" class="visible content">
        <img src="assets/images/glasses/3-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui blue ribbon label"><i class="fire icon"></i>Nueva</div>
        <br><br>
        <a class="header">Ray-Ban 55 New Wayfarer</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="no-deal">$190.00</span>
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
    <div class="ui raised fluid card">
      <div class="ui fade masked reveal image">
        <img src="assets/images/glasses/4.jpg" class="visible content">
        <img src="assets/images/glasses/4-1.jpg" class="hidden content">
      </div>
      <div class="content">
        <div class="ui black ribbon label"><i class="sun icon"></i>Polarizada</div>
        <br><br>
        <a class="header">Oakley Flak 2.0 XL</a>
        <div class="meta">
          Descripcion del producto o algo
        </div>
      </div>
      <div class="extra content">
        <div class="ui big label">
          <i class="tag icon"></i><span class="no-deal">$200.00</span>
        </div>
        <button class="ui right floated compact red inverted circular icon button">
          <i class="add to cart large icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>

